@media only screen and (max-device-width: 450px) {
  button {
    height: 80px;
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }

  a {
    font-size: 30px;
  }

  p {
    font-size: 28px;
  }

  .content-container {
    width: 96vw;
    max-width: 96vw;
  }

  .barra-de-navegacao {
    width: 100%;
    margin-top: 24px;
  }

  .titulo-navegacao {
    font-size: 24px;
  }

  .links-navegacao {
    display: none;
  }

  .section-hero {
    height: auto;
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .hero-info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
  }

  .hero-info-image {
    width: 28vw;
    height: 34vw;
    margin-top: 14vw;
  }

  .hero-info-title {
    font-size: 58px;
    margin-top: 5vw;
  }

  .hero-info-subtitle {
    font-size: 30px;
    line-height: 40px;
    margin-top: 18px;
  }

  .hero-info {
    width: 100%;
    margin-top: 5vw;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .section-abilities {
    margin-top: 15vw;
  }

  .ability-cards-container {
    row-gap: 36px;
    grid-template-columns: auto;
    margin-top: 12px;
  }

  .section-portfolio {
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }

  .section-portfolio-grid {
    grid-template-columns: auto;
    row-gap: 24px;
    margin-top: 32px;
  }

  .section-experiences {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-experiences-card {
    width: 90vw;
    margin-top: 40px;
  }

  .section-experiences-card-img {
    width: 12vw;
    height: 12vw;
  }

  .section-contact-item-icon {
    width: 34px;
    height: 34px;
  }

  .footer-content {
    width: 94%;
  }
}
